@import '../../App/Variables.less';

.user-list {
    background: @backgroundColor;
    border: 3px solid grey;
    border-left: 0px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
}
